ipykernel>=6.14
jsonschema>=2.6
jupyter-core!=5.0.*,>=4.12
traitlets>=5.4
transformer-lens>=2.0.0
transformers>=4.38.1
plotly>=5.19.0
plotly-express>=0.4.1
matplotlib>=3.8.3
matplotlib-inline>=0.1.6
datasets>=2.17.1
babe>=0.0.7
nltk>=3.8.1
safetensors>=0.4.2
typer>=0.12.3
mamba-lens>=0.0.4
pyzmq>=26.0.0
automated-interpretability>=0.0.3
python-dotenv>=1.0.1
pyyaml>=6.0.1
pytest-profiling>=1.7.0
zstandard>=0.22.0
typing-extensions>=4.10.0
git+https://github.com/neelnanda-io/neel-plotly
kaleido